$green: #ff0000;
$width: 10px;
$height: 10px;

.pull-right {
  display: flex;
  justify-content: flex-end;
}

.h1 {
  color: $green !important;
  margin-top: $width !important;
  margin-bottom: $width !important;
}